<h1>Create New User</h1>

<form action="/users/new" method="post" class="new-user-form">
    <div class="form-element">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text">
    </div>
    <div class="form-element">
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" placeholder="user@email.com">
    </div>
    <div class="form-element">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
    </div>
    <button type="submit" form="new-user-form">Create Account</button>
</form>